selenium==4.20.0
beautifulsoup4==4.12.3
requests==2.31.0
lxml==5.2.1
pandas==2.2.2
urllib3==2.2.1
fake-useragent==1.5.1      # For rotating User-Agents
python-dotenv==1.0.1       # For loading .env configuration
webdriver-manager==4.0.1
